.background {
    background-image: url("../images/cloudy-sky.jpg");
    background-size: cover;
    resize: auto hidden;
    overflow: auto visible;
    width: 100%;
    height: auto;
    /* opacity: 0.9; */
}

.links {
    font-family: calibri;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #535353, -1px -1px 0 #535353, -1px 1px 0 #535353, 1px -1px 0 #535353;
    position: relative;
}

.signedOutLinks {
    font-family: calibri;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 0 #535353, -1px -1px 0 #535353, -1px 1px 0 #535353, 1px -1px 0 #535353;
    position: relative;
}

.title {
    font-family: calibri;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 2px 0 #535353, -1px -1px 0 #535353, -1px 1px 0 #535353, 1px -1px 0 #535353;
}

.icon {
    background: url('../images/logo.png');
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;
    /* background-attachment: fixed; */
    position: relative;
    top: 14px;
    left: 0;
    bottom: 10px;
    right: 20px;

    width: 40px;
    height: 40px;
    padding: 5px 5px;
}