html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:linear-gradient(to bottom, #ffffff, #d0dfff);
  background-position: scroll;
  height: 100%;
  z-index: -2;
}

body::after {
  content: "";
  background-image: url('./images/cg-logo.png');
  opacity: 0.69;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
form{
  padding: 20px;
  margin-top:60px;
}
form button, form h5{
  margin: 20px 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #2c4cff;
  box-shadow: none;
}